# Imports

In [1]:
import pandas as pd

# Definitions

In [2]:
base_path = "C:/Users/Zi/Documents/data-science-crossfit/"

# Data Cleaning

### Games

In [3]:
df_games_conso = pd.read_csv(base_path + "csv_files/version_1_raw_data/df_games_conso.csv")

df_games_conso.loc[df_games_conso['countryOfOriginName'] == 'Namibia', 'countryOfOriginCode'] = 'NA'

df_games_conso.loc[df_games_conso['countryOfOriginCode'] == 'BY', 'countryOfOriginName'] = 'Belarus'

df_games_conso.loc[df_games_conso['countryOfOriginCode'] == 'RU', 'countryOfOriginName'] = 'Russian Federation'

asia_countries = ['RU', 'AE']
df_games_conso.loc[df_games_conso['countryOfOriginCode'].isin(asia_countries), 'regionName'] = 'Asia'

europe_countries = ['FI', 'FR', 'DE', 'HU', 'IS', 'NO', 'SE', 'CH']
df_games_conso.loc[df_games_conso['countryOfOriginCode'].isin(europe_countries), 'regionName'] = 'Europe'

north_america_countries = ['US', 'CA']
df_games_conso.loc[df_games_conso['countryOfOriginCode'].isin(north_america_countries), 'regionName'] = 'North America'

oceania_countries = ['AU', 'NZ']
df_games_conso.loc[df_games_conso['countryOfOriginCode'].isin(oceania_countries), 'regionName'] = 'Oceania'

df_games_conso = df_games_conso.drop(columns=['regionId'])

In [4]:
df_games_conso

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
0,164070,James Fitzgerald,James,Fitzgerald,ACT,M,NaN,NaN,NaN,NaN,NaN,33,69 in,176 lb,1,272,1,2007
1,57785,Brett Marshall,Brett,Marshall,ACT,M,NaN,NaN,NaN,NaN,NaN,33,168 cm,155 lb,2,270,1,2007
2,10091,Josh Everett,Josh,Everett,ACT,M,NaN,NaN,NaN,NaN,NaN,32,69 in,185 lb,3,267,1,2007
3,27065,Chris Spealler,Chris,Spealler,ACT,M,NaN,NaN,NaN,NaN,NaN,28,65 in,143 lb,4,261,1,2007
4,7173,Breck Berry,Breck,Berry,ACT,M,NaN,NaN,NaN,NaN,NaN,31,67 in,170 lb,5,252,1,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,1547449,Emma Cary,Emma,Cary,ACT,F,US,United States,North America,1893.0,CrossFit Naples,19,64 in,140 lb,0,0,2,2023
1710,1931423,Emma Lawson,Emma,Lawson,ACT,F,CA,Canada,North America,21726.0,CrossFit PSC,18,65 in,140 lb,0,0,2,2023
1711,1983424,Elisa Fuliano,Elisa,Fuliano,ACT,F,IT,Italy,Europe,16895.0,CrossFit Altessano,27,157 cm,60 kg,0,0,2,2023
1712,2012971,Alexia Williams,Alexia,Williams,ACT,F,AR,Argentina,South America,31497.0,WTC CrossFit,24,169 cm,70 kg,0,0,2,2023
1713,2077209,Abigail Domit,Abigail,Domit,ACT,F,US,United States,North America,770.0,Lone Star CrossFit,25,67 in,147 lb,0,0,2,2023

In [5]:
df_games_conso.isnull().sum()

competitorId             0
competitorName           0
firstName                0
lastName                 1
status                   0
gender                   0
countryOfOriginCode    723
countryOfOriginName    723
regionName             645
affiliateId            802
affiliateName          802
age                      0
height                 169
weight                 164
overallRank              0
overallScore             0
genderId                 0
year                     0
dtype: int64

In [6]:
df_games_conso['regionName'].unique()

array([nan, 'North America', 'Oceania', 'Europe', 'Asia', 'Central East',
       'South West', 'North Central', 'Northern California', 'North East',
       'Australia', 'Mid Atlantic', 'Canada West', 'Southern California',
       'South East', 'South Central', 'Canada East', 'North West',
       'Africa', 'Latin America', 'South America', 'Central America'],
      dtype=object)

In [7]:
# Group by 'countryOfOriginName' and 'countryOfOriginCode' and count the number of unique 'regionName' values for each country
region_counts = df_games_conso.groupby(['countryOfOriginName', 'countryOfOriginCode'])['regionName'].nunique()

# Filter countries with two or more unique 'regionName' values
countries_with_multiple_regions = region_counts[region_counts >= 2]

# Print the result
countries_with_multiple_regions

Series([], Name: regionName, dtype: int64)

In [8]:
# Filter the DataFrame to include only rows where 'countryOfOriginName' is 'Australia'
australia_df = df_games_conso[df_games_conso['countryOfOriginName'] == 'United States']

# Get the different values of 'regionName' for Australia
unique_regions_australia = australia_df['regionName'].unique()

# Print the result
unique_regions_australia

array(['North America'], dtype=object)

In [9]:
# Filter the DataFrame to include only rows where 'countryOfOriginName' is 'Australia'
australia_df = df_games_conso[(df_games_conso['regionName'].notnull()) & (df_games_conso['countryOfOriginName'].isnull())]

# Get the different values of 'regionName' for Australia
unique_regions_australia = australia_df['regionName'].unique()

# Print the result
unique_regions_australia

array(['Central East', 'South West', 'North Central',
       'Northern California', 'North East', 'Australia', 'Mid Atlantic',
       'Canada West', 'Southern California', 'South East',
       'South Central', 'Europe', 'Canada East', 'Asia', 'North West',
       'Africa', 'Latin America'], dtype=object)

In [10]:
df = df_games_conso[(df_games_conso['regionName'].notnull()) & (df_games_conso['countryOfOriginName'].isnull())]

df

,competitorId,competitorName,firstName,lastName,status,gender,countryOfOriginCode,countryOfOriginName,regionName,affiliateId,affiliateName,age,height,weight,overallRank,overallScore,genderId,year
551,11435,Richard Froning Jr.,Richard,Froning Jr.,ACT,M,NaN,NaN,Central East,1941.0,CrossFit Faith,23,69 in,194 lb,1,1089,1,2012
552,17703,Matt Chan,Matt,Chan,ACT,M,NaN,NaN,South West,1176.0,CrossFit Verve,33,69 in,217 lb,2,975,1,2012
553,25569,Kyle Kasperbauer,Kyle,Kasperbauer,ACT,M,NaN,NaN,North Central,1033.0,CrossFit Omaha,29,68 in,190 lb,3,930,1,2012
554,34796,Scott Panchik,Scott,Panchik,ACT,M,NaN,NaN,Central East,NaN,NaN,23,69 in,187 lb,4,892,1,2012
555,12485,Jason Khalipa,Jason,Khalipa,ACT,M,NaN,NaN,Northern California,2605.0,NorCal CrossFit,25,69 in,210 lb,5,885,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
814,101492,Celestie Engelbrecht,Celestie,Engelbrecht,CUT,F,NaN,NaN,Africa,NaN,NaN,26,168 cm,134 lb,39,244,2,2014
815,17329,Marlene Andersson,Marlene,Andersson,CUT,F,NaN,NaN,Asia,9717.0,CrossFit 965,30,165 cm,130 lb,40,244,2,2014
816,26980,Pip Malone,Pip,Malone,WD,F,NaN,NaN,Australia,835.0,CrossFit Newcastle,24,164 cm,64 kg,41,313,2,2014
817,13503,Wanda Brenton,Wanda,Brenton,WD,F,NaN,NaN,Latin America,2244.0,CrossFit 7 Mile,39,65 in,140 lb,42,32,2,2014
818,14354,Rory Long-Zambard,Rory,Long-Zambard,ACT,F,NaN,NaN,North West,NaN,NaN,23,70 in,165 lb,0,0,2,2014

In [11]:
column_values = df_games_conso['countryOfOriginCode'].unique()
sorted_column_values = sorted(map(str, column_values))

values_starting_with_R = [value for value in sorted_column_values if value.startswith('U')]
values_starting_with_R

['UA', 'US', 'UY']

### Open